<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taltools.dao.UserDao">
    <resultMap id="classMsg" type="UserEntity">
        <result property="id"  column="id" />
        <result property="school"  column="school" />
        <result property="name"  column="name" />
        <result property="createTime"  column="create_time" />
        <result property="testResult"  column="test_result" />
        <result property="remark"  column="remark" />
    </resultMap>

    <select id="getQueryValue"   resultMap="classMsg">
         SELECT * FROM `user`
         -- 当User对象为空时，sql只解析 SELECT * FROM `user`；后面条件不执行
         WHERE
            <if test="school != null and school !=''">
                `school` LIKE concat('%', #{school}, '%')
            </if>
            <if test="id != null and id !=''">
                AND
                `id` LIKE concat('%', #{id}, '%')
            </if>
             <if test="name != null and name != ''" >
                 AND
                 `name` LIKE concat('%', #{name}, '%')
             </if>

             <if test="createTime != null and createTime != ''">
                 AND
                 `create_time` LIKE concat('%', #{createTime}, '%')
             </if>
    </select>

    <select id="getAll" resultMap="classMsg">
        SELECT * FROM `user`
    </select>
    <select id="getId" resultMap="classMsg">
        SELECT * FROM `user`
        WHERE
        <if test="id != null and id !=''">
            `id` = #{id}
        </if>
    </select>

    <insert id="addUser" parameterType="com.taltools.entity.UserEntity">
         INSERT INTO `mytest`.`user`(`school`, `name`, `create_time`, `test_result`, `remark`)
            VALUES
          ( #{school}, #{name}, #{createTime}, #{testResult}, #{remark})
    </insert>

    <delete id="deleteUser" parameterType="String">
        <if test="id != null and id !=''">
            DELETE  from `user` WHERE id = #{id}
        </if>
    </delete>

    <update id="editUser" parameterType="com.taltools.entity.UserEntity" >
        UPDATE `mytest`.`user` SET `school` = #{school}, `name` = #{name}, `create_time` = #{createTime}, `test_result` = #{testResult}, `remark` = #{remark} WHERE `id` = #{id}
    </update>
</mapper>